.App{
  position: relative;
  border-bottom: 3px solid #2196f7;
}
li{
  list-style-type: none;
}
ul{
  padding: 0 1rem;
}

.services{
  position: absolute;
  left: 2rem;
  border: 3px solid #2196f7;
  text-align: center;
}
.default-style{
  color: black
  }
.default-style:hover{
  text-decoration: none;
  color:black;
}
.active-style{
  color: #2196f7;
}
.active-style:hover{
  color: #2196f7;
}

